@import url("https://fonts.cdnfonts.com/css/mulish");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif;
}

/* Section One */
.header-navbar {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav {
  width: 30%;
  color: #1f1534;
}

header {
  width: 36%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav li {
  opacity: 0.5;
}

.navbar-home {
  opacity: 1;
}

.section-one {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("/assets/dot-element.svg");
  background-position: top left;
  background-repeat: no-repeat;
}

.sub-section-one {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 25%;
}

.sub-section-one h1 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 5%;
}

.sub-section-one p {
  color: #7d7987;
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 10%;
}

.sub-section-one button {
  border-radius: 55px;
  border-style: none;
  background: #458ff6;
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  padding: 3% 8%;
}

.sub-section-two {
  width: 40%;
}

/* Section Two */
.section-two {
  height: 100vh;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 2%;
  background-image: url("/assets/freeform-vector.svg");
  background-position: top left;
  background-repeat: no-repeat;
}

.section-two h1 {
  font-size: 34px;
  font-weight: 400;
  text-align: center;
}

.section-two .rectangle {
  display: block;
  margin: 1% auto;
}

.section-two .description {
  width: 45%;
  text-align: center;
  margin: 1.2% auto;
  font-size: 15px;
  font-weight: 100;
  color: #7d7987;
}

.service-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  margin: 0.5%;
}

.card {
  width: 300px;
  height: 250px;
  margin: 0% 1%;
  padding: 2% 2%;
  border-radius: 20px;
  background: #fff;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}

.card img {
  height: 90px;
}

.card h4 {
  font-size: 18px;
}

.card p {
  color: #7d7987;
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
}

.section-two button {
  display: block;
  margin: 0.5% auto;
  color: #458ff6;
  font-size: 16px;
  background-color: #fff;
  border: #458ff6 solid 2px;
  border-radius: 55px;
  padding: 0.5% 2%;
}

@media screen and (max-width: 768px) {
  .header-navbar {
    padding-top: 10px;
    flex-direction: column;
    height: auto;
  }
  nav ul {
    display: none;
  }

  .section-one {
    flex-direction: column-reverse;
    justify-content: space-around;
    background-image: none;
    margin-top: 1.5%;
  }
  .sub-section-one,
  .sub-section-two,
  .sub-section-two img {
    width: 90%;
  }

  .sub-section-one h1 {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 5%;
  }

  .sub-section-one p {
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 10%;
  }

  .sub-section-one button {
    font-size: 16px;
    font-weight: 200;
    padding: 3% 15%;
    margin-bottom: 5%;
  }

  .section-two {
    background-position: center;
    height: auto;
  }

  .section-two .rectangle {
    display: block;
    margin: 5% auto;
  }

  .section-two .description {
    width: 95%;
    font-size: 16px;
    margin-bottom: 5%;
  }

  .card-container {
    flex-direction: column;
  }

  .card {
    margin: 2%;
    height: 250px;
    width: 250px;
    padding: 8%;
  }

  .card img {
    height: 80px;
  }

  .section-two button {
    display: block;
    margin: 5% auto;
    color: #458ff6;
    font-size: 18px;
    background-color: #fff;
    border: #458ff6 solid 1.5px;
    border-radius: 35px;
    padding: 1% 2%;
  }

  @media (orientation: landscape) {
    /* Additional styles for landscape orientation */
  }
}
